# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src-tauri/models/*
*.mp4

# æ›´æ–°ç°½ç½²ç§é‘°ï¼ˆçµ•ä¸å¯ commitï¼‰
*.key
.key
# ¥»¾÷ Rust «Ø¸m³]©w¡]§t¾÷¾¹±MÄİªº target-dir »P VULKAN_SDK ¸ô®|¡A¤£¥i¶iª©±±¡^
src-tauri/.cargo/config.toml

